body{
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin:0;
  padding:0;
  background: #333;
  font-size: 12px;
}

h1{
}

#container{
  position: relative;
  margin: 0 auto;
  width: 100%;
}
#header{
  position: relative;
  margin: 0 auto;
  width: 100%;
  height:100px;
  background-color:#ADDDED;
}
#main{
  position: relative;
  margin: 0 auto;
  width: 100%;
  height:650px;
  background-color:#F5F5F5;
}


#footer{
  position: relative;
  margin: 0 auto;
  bottom: 0px;
  width: 100%;
  height:auto;
  background-color:#333;
}
.footer_column{
  float: left;
  margin: 20px 0px 10px 50px;
  width: 250px;
  height:200px;
  color:#fff;
}
.footer_column a{
  color:#fff;
  text-decoration: none;
  font-weight:bold;
  border-bottom: 1px dotted;
}


#logo{
  position:relative;
  height: 130px;
  top: 8px;
  text-align:center;
}

#menu{
  position:absolute;
  top: 24px;
  right: 0px;
}

#menu p{
	font-size: 18px;
}
#menu p a {
	font-weight: bold;
	color: #999;
	text-decoration: none;
}

#menu p a:hover{
	color: #333;
}
#menutext{
	float:left;
	margin-right:10px;
}
#kth{
	float:right;
	top:0px;
	right:0px;
	margin-top:7px;
}
#info p{
	font-size: 16px;
}
#info{
  position: relative;
  float:left;
  left: 0px;
  margin: 0 auto;
  width: 500px;
}
#right_column{
  float:right;
  right: 0px;
 top: 0;
  margin: 0 auto;
  width: 240px;
}
#info p a {
	font-weight: bold;
	color: #999;
	text-decoration: none;
}

#info p a:hover{
	color: #333;
}
#right_column p{
	font-size: 14px;
	text-align: right;
}
#right_column p a {
	font-weight: bold;
	color: #999;
	text-decoration: none;
}

#right_column p a:hover{
	color: #333;
}

#right_column small{
	font-size: 15px;
}

#equal{
  position:absolute;
  font-size: 140px;
  font-weight: bold;
  top: 100px;
  padding-left: 47%;
  color:#fff;
}

.converter{
  position:relative;
  width: 50%;
  background-color:#000;
}

#converter_background{
    position:absolute;
	height: 400px;
    width: 100%;
	opacity:0.4;
    background-image:url("");
    background-size: 100%;
    background-repeat: no-repeat;
}
#converter_background2{
    position:absolute;
	height: 400px;
    width: 100%;
	opacity:0.4;
    background-image:url("");
    background-size: 100%;
    background-repeat: no-repeat;
}

.converter ul.add-subtract{
  position:absolute;
  margin: 0;
  padding: 0;
  list-style:none;
  width: 130px;
}

#left ul.add-subtract{
  top: 20px;
  right: 10px;
}
#right ul.add-subtract{
    top: 20px;
    right: 10px;
}

.converter ul.add-subtract li{
  float:left;
  width: 30px;
  height: 30px;
  margin: 0 5px 0 0;
  background: #ACACAC;
  color:black;
  text-align:center;
  font-weight: bold;
  font-size: 26px;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  cursor:pointer;
}

.converter ul.add-subtract li.add{
  background: #ACACAC url(/images/add.png) no-repeat 6px 6px;
}
.converter ul.add-subtract li.subtract{
  background: #ACACAC url(/images/subtract.png) no-repeat 6px 6px;
  
}
.converter ul.add-subtract li.r{  
  
  background: #ACACAC url(/images/r.png) no-repeat 6px 6px;
  
}

.converter ul.add-subtract li.add:hover{
  background: #d1d1d1 url(/images/add.png) no-repeat 6px 6px !important;
}

.converter ul.add-subtract li.subtract:hover{
  background: #d1d1d1 url(/images/subtract.png) no-repeat 6px 6px !important;

}
.converter ul.add-subtract li.r:hover{
  background: #d1d1d1 url(/images/r.png) no-repeat 6px 6px !important;

}
.converter .inner-converter{
	margin-top:50px;
	padding-top:50px;
  height: 261px;
  cursor:pointer;
}

.bluecircle{
  background-image: url("/images/circle.png");
}

.converter .inner-converter .number{
  position:relative;
  width:100%;
  font-size: 100px;
  font-weight:bold;
  text-align:center;
  color: #fff;
  z-index:100;
}
.converter .inner-converter .unit{
  position:relative;
  z-index:110;
  width:100%-120px;
  padding-left:60px;
  padding-right:60px;
  font-size: 30px;
  font-weight:bold;
  text-align:center;
  color: #fff; 
}

.converter .inner-converter .unit span{
  font-size: 30px;
}

.converter .conversions{
  margin-top:40px;
  padding-top:10px;
  padding-left:35px;
  width: 100%-35px;
  height:250px;
  background-color:#F5F5F5;
}
.converter .conversions ul{
  list-style:none;
  margin: 0 0 0 0;
  padding:0;
}

.converter .conversions ul li{
  margin: 5px;
  padding: 3px 6px 3px 6px;
  color:black;
  float:left;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  font-size: 11px;
  font-weight:bold;
  cursor:pointer;
  text-transform:uppercase;
}
.converter .conversions ul li:hover{
  text-shadow: 0 0 1px black;
}

.converter .conversions h2{
  margin: 25px 0 5px 0;
  padding: 0;
}

#left{
  float:left;
}

#center{
  float:left;
}

#right{
  float:right;
}
