<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
   "http://www.w3.org/TR/html4/loose.dtd">

<html lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<link href="/stylesheets/screen.css" media="all" rel="stylesheet" type="text/css" />

  <script src="/javascripts/jquery-1.3.2.min.js"></script>
  <script src="/javascripts/app.js"></script>
  <script src="/data.js"></script>
  <script type="text/javascript" src="/javascripts/log4javascript.js"></script>
  <script type="text/javascript">
	var log = log4javascript.getLogger();
	var ajaxAppender = new log4javascript.AjaxAppender("/log");
	log4javascript.logLog.setQuietMode(true);
	log.addAppender(ajaxAppender);
  	</script>

	
	<title>Kilo..what??</title>
	
</head>
<body>
  <div id="container">
	  <div id="header">
  		<div id="logo">
			<% image = "/images/logo.png" %>
   		 	<a href="/"><%= image_tag image, :alt => 'home', :border=> '0' %></a>
  	  	</div>
	</div> 
  <%= yield %>
  
   <div id="footer">
	   <div class="footer_column">
		 <h2>Kilowhat? is part of the research project Quantified Self for Energy at <a href="/about">KTH Media Technology</a>, in colllaboration with <a href="/about">Linnaeus University</a>.</h2>
	   </div> 
	    <div class="footer_column"> </div> 
	   <div class="footer_column">
		 <h3>About</h3>
		 <p><a href="/about">More information</a></p>
		 <p><a href="/data">Data sources</a></p>
		  <p><a href="/pictures">Pictures</a></p>	
		  <p><a href="/data">Contact us</a></p>		   
	   </div>

	   <div class="footer_column">
		 <h3>Code</h3>
	  	 <p>Developed by <a href="http://jorge.zapi.co">Jorge Zapico</a></p>
		 <p>Forked from <a href="http://jorge.zapi.co">Carbon.to</a></p>
		 <p>Available as open source at <a href="/about">Github</a></p>
		 <p>You can also use our <a href="/api">API</a></p>
	   </div>
	   
	   <div class="footer_column">
  		 <p>Financed by Energimyndigheten</p>
  	   </div> 
	   </div>
	   
   </div>   
  </div>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-1465382-29', 'auto');
  ga('send', 'pageview');

</script>